.admin-panel--access-denied {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
}

.admin-panel--access-denied > .content {
  font-size: 5em;
  font-weight: bold;
  color: #00bb9c;
}

/*Users List*/

table {
  width: 60%;
  margin: 0 auto;
  font-size: 1em;
}

thead {
  height: 2em;
  font-size: 1.2em;
}

th, td {
  text-align: center;
  cursor: default;
  /* height: 1.5em; */
}

.is-staff-btn-container {
  display: flex;
  width: 50px;
  height: 1.5em;
  border-radius: 15px;
  margin: 0 auto;
  cursor: pointer;
}

.is-staff-btn {
  display: flex;
  width: 50%;
  height: 100%;
  background-color: #ff5600;
  border-radius: 15px;
}

.on {
  justify-content: end;
  background-color: #ffab0e;
}

.off {
  justify-content: start;
  background-color: #00bb9c;
}

img {
  cursor: pointer;
}
